@charset "utf-8";


.note{margin:20px;padding-bottom:1px;background:#fff;box-shadow:1px 1px 5px rgba(0,0,0,0.3);}
.note h4{background:linear-gradient(0deg, #e8e9eb,#dcdddf);height:32px;font:16px/32px 微软雅黑;padding-left:12px;border-bottom:1px solid #d6d6d8;}
.note_list{font:14px/20px arial;padding:20px 20px 20px 36px;margin:0;}
.note_list>li{padding:5px 0;}


.news_list{margin:20px auto;width:96%;border-collapse:collapse;text-align: center}
.news_list td,.news_list th{border:1px solid #ccc;padding:4px 6px;}
.news_list th{font:bold 14px/24px 微软雅黑;background:#daf1f9;text-align: center}
.news_list td{font:13px/22px arial;}

.news_form{width:90%;margin:20px auto;border-collapse:collapse;}
.news_form td{border:1px solid #ccc;padding:6px 8px;font:14px/24px arial;}
.news_form tr td:first-child{width:25%;text-align:center;background:#d9f0f8;}
.news_form .inbox{height:24px;font:14px/24px 微软雅黑; width:50%;}
.news_form input[type=submit]{height:36px;font:16px/32px 微软雅黑;width:120px;border:0;background:#0a0;color:#fff;border-radius:5px;}

.search_form{border:1px solid #cadee7;background:#daf1f9;margin:20px auto;width:96%;padding:10px 0;text-align:center;}
.search_form input[type=text]{height:30px;font:16px/30px 微软雅黑;width:70%;}
.search_form input[type=submit]{height:36px;font:16px/32px 微软雅黑;width:10%;border:0;background:#0a0;color:#fff;}